/* $Id: hpLib.tmpl,v 1.1.1.1 1995/12/20 15:26:40 cernlib Exp $
 *
 * $Log: hpLib.tmpl,v $
 * Revision 1.1.1.1  1995/12/20 15:26:40  cernlib
 * X11R6 config files unmodified
 *
 *
 */
XCOMM $XConsortium: hpLib.tmpl,v 1.8 93/08/25 15:30:15 rws Exp $

/*
 * HP shared library template
 */

/* nothing needed yet */
